.navbar-brand{
    font-size: 36px;
}
 .navbar-brand{
     background-color: maroon;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
    color: #d4cccc;
    font-family: 'Metal Mania', cursive;
    
 }

body {
    background-image: url('../images/photo-1455612693675-112974d4880b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-top: 6px solid maroon;
    text-align: center;
}

.navbar {
    border-bottom: 6px solid maroon;
padding: 0;
margin-bottom: 8px;
}
 
#content{
    background-color: #444444;
    opacity: .92;
}
#content h1{
    color: whitesmoke;
}

.form-control{
    opacity: 1;
}